//box sizes
$inputFieldDefault: 18px;
$progressItemSize: 21px;

//paddings && margins
$zeroDefault: 0;

//fonts
$fontDefault: 14px;

//color palette
$blackDefault: #000;
$backgroundMain: #C4C4C4;
$inputBackgroundDefault: #E6E6E6;
$borderBackgroundDefault: #B3B3B3;
$progressBarPoint: #8cd6ff;
$progressBarPointBorder: #4bbbfa; 
$buttonBackgroundDefault: #4BBDFD;